@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

html,
body {
  height: 100%;
  display: grid;
  place-items: center;
}

section {
  //max-width: 80rem;
  color: white;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

.section-top {
  background: linear-gradient(to right, #4c1d95 30%, #8b5cf6);
}

@media (min-width: 600px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-us {
    padding: 3vw 0 3vh 3vw;
  }

  .image-wrapper {
    filter: hue-rotate(20deg);
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  h2 {
    font-weight: 600;
    white-space: nowrap;
    //font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: clamp(1rem, 1.5vw, 3rem);
  }
}

.image-wrapper {
  height: 100%;
  width: 100%;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right center;
  }
}

.card {
  padding: 1rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
