<section class="section-top">
  <div class="about-us">
    <div style="text-align: center">
      <h2>Wrappers Angular Material</h2>
      <p>Custom Components for Angular using Material Design</p>
      <button onclick="location.href='/components'" style="width: 150px">Get started</button>
    </div>
  </div>
  <div class="image-wrapper">
    <img src="/assets/logo.svg"/>
  </div>
</section>
<div class="about-us" style="padding: 100px">
  <div style="text-align: center">
    <h2>Wrappers Angular Material UI Components demos</h2>
    <p>W-Mat for Angular is a modern Angular UI Components library that has been built from the ground up to
      be lightweight, responsive, modular and touch friendly. It is written in TypeScript and Angular Material. It also
      includes complete support for Angular framework.</p>
    <br>
    <p>Explore and learn using feature-wise demos in Components section and example applications in Showcase
      applications section.</p>
    <br>
  </div>
  <hr>
  <h2 style="text-align: center">Top Angular Components</h2>
  <br>
  <div class="cards">
    <div class="card">
      <ul>
        <li>
          <h3>Grids</h3>
          <ul>
            <li>
              <a routerLink="/components/grid">Grid</a>
              <ul>
                <li><a routerLink="/components/grid/overview">Overview</a></li>
                <li><a routerLink="/components/grid/columns">Column</a></li>
              </ul>
            </li>
            <li><a href="/components/treegrid">Tree Grid</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="card">
      <ul>
        <li>
          <h3>Inputs</h3>
          <ul>
            <li>
              <a href="/components/textbox">Textbox</a>
              <ul>
                <li><a routerLink="/components/textbox/default-functionalities">Default Functionalities</a></li>
              </ul>
            </li>
            <li>
              <a href="/components/textbox">Numeric Textbox</a>
              <ul>
                <li><a routerLink="/components/textbox/default-functionalities">Default Functionalities</a></li>
              </ul>
            </li>
            <li>
              <a href="/components/altitude-textbox ">Altitude textbox</a>
              <ul>
                <li><a routerLink="/components/altitude-textbox/default-functionalities">Default Functionalities</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="card">
      <ul>
        <li><h3>Navigations</h3></li>
      </ul>
    </div>
  </div>
</div>

