<!--<router-outlet></router-outlet>-->

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <H1 class="w3-bar-item">Components</H1>

  <ul>
    <li>
      <h3>Grids</h3>
      <ul>
        <li>
          <a routerLink="/components/grid">Grid</a>
          <ul>
            <li><a routerLink="/components/grid/overview">Overview</a></li>
            <li><a routerLink="/components/grid/columns">Column</a></li>
          </ul>
        </li>
        <li><a href="/components/treegrid">Tree Grid</a></li>
      </ul>
    </li>
    <li>
      <h3>Inputs</h3>
      <ul>
        <li>
          <a href="/components/textbox">Textbox</a>
          <ul>
            <li><a routerLink="/components/textbox/default-functionalities">Default Functionalities</a></li>
          </ul>
        </li>

        <li>
          <a href="/components/altitude-textbox ">Altitude textbox</a>
          <ul>
            <li><a routerLink="/components/altitude-textbox/default-functionalities">Default Functionalities</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><h3>Navigations</h3></li>
    <li>
      <h3>Layout</h3>
      <ul>
        <li>
          <a routerLink="/components/dialog">Dialog</a>
          <ul>
            <li><a routerLink="/components/dialog/overview">Overview</a></li>
          </ul>
        </li>
        <li><a href="/components/card">Card</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- Page Content -->
<div style="margin-left:25%; padding: 20px">
  <router-outlet></router-outlet>
</div>
